.octodex {
  padding-left: 0;
}



.octocat {
  display: inline-block;
  margin: 10px;
}

.octocat img {
  border: 1px solid #cacaca;
}

.octocat:after {
    content: '';
    position: relative;
    height: 0;
    width: 0;
    left: 295px;
    top: -51px;
    border-top: 10px solid gray;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

img {
  height: 20rem;
  width: 20rem;
}

.authors {
  padding-left: 0;
  margin-top: -25px;
  float: right;
}

.authors img {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-top: 20px;
}

li {
  list-style: none;
}

span.image-number:before {
  content: '#';
}

span {
  color: #cacaca;
}
span.image-number {
  float: left;
  padding-top: 8px;
}
.image-caption {
  float: right;
  padding-top: 8px;

}

.image-caption span {
    padding-top: 5px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.image-footer {
    border-bottom: 1px solid #cacaca;
    height: 46px;
    width: 100%;
    padding-top: 10px;
}

/*

.image-number {
  float: left;
}

ul ul li img {
  float: right;
  height: 150px;
  width: 150px;
}

span {
  clear: right;
}

img {
  border: 5px solid grey;
}

span.image-number {
  margin-right: 20px;
}

div.image-caption {
  clear: right;
}*/
