

.octocat {
  display: inline-block;
}

img {
  height: 20rem;
  width: 20rem;
}

.authors {
  padding-left: 0;
  float: right;
}

.authors img {
  height: 2rem;
  width: 2rem;
}
li {
  list-style: none;
}
span.image-number:before {
  content: '#';
}
/*.image-footer {
  margin: 20px;
}

.image-number {
  float: left;
}

ul ul li img {
  float: right;
  height: 150px;
  width: 150px;
}

span {
  clear: right;
}

img {
  border: 5px solid grey;
}

span.image-number {
  margin-right: 20px;
}

div.image-caption {
  clear: right;
}*/
